---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

images:
  - name: cnrm-operator
    newName: gcr.io/gke-release/cnrm/operator
    newTag: "1.140.0"

namespace: configconnector-operator-system

patches:
  - path: ../base/patches/clusterrolebinding-manager.patch.yaml
  - path: ../base/patches/clusterrolebinding-viewer.patch.yaml
  - path: ../base/patches/manager_image.patch.yaml
  - path: ../base/patches/ns.patch.yaml
  - path: cnrm-workload-identity.patch.yaml
  - path: configconnector.patch.yaml

resources:
  - ../base/resources
# renovate: datasource=github-releases depName=GoogleCloudPlatform/k8s-config-connector
  - https://github.com/GoogleCloudPlatform/k8s-config-connector/operator/config/crd?ref=v1.140.1
# renovate: datasource=github-releases depName=GoogleCloudPlatform/k8s-config-connector
  - https://github.com/GoogleCloudPlatform/k8s-config-connector/operator/config/rbac?ref=v1.140.1
# renovate: datasource=github-releases depName=GoogleCloudPlatform/k8s-config-connector
  - https://raw.githubusercontent.com/GoogleCloudPlatform/k8s-config-connector/v1.139.0/operator/config/manager/manager.yaml
