---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - https://raw.githubusercontent.com/GoogleCloudPlatform/k8s-config-connector/v1.139.0/operator/config/manager/manager.yaml
